/* .header,  */
.hero, 
.main,
.footer {
    display: none;
}

@media (max-width: 800px) {
    .nav, .account {
        display: none;
        
    }
    .nav-button {
        display: block;
    }

    .mobile-nav-active {
        display: flex;
    }
}